*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
li{
    padding: 20px;
    margin: 20px;
}
a{
    text-decoration:none;
    color: aliceblue;
}
body{
    font-family: neue-haas-grotesk-text, -apple-system, BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #F5F5F5;
}
.logoDestiny{
    height: auto;
    width: 150px;
}
header{
    background-color:rgb(20, 25, 30);
    font-size: 30px;
    display: flex;
    align-items: center;
}
.ulHeader{
    display: flex;
    flex-direction: row;
}
.main_nuestra{
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "bungie bungie bungie"
    "lore1 lore2 lore3";
}
#bungie{
    grid-area: bungie;
}
.lore1{
    font-size: 200%;
    margin: 50px;
    padding: 20px;
    grid-area: lore1;
}
.lore2{
    font-size: 200%;
    margin: 50px;
    padding: 20px;
    grid-area: lore2;
}
.lore3{
    font-size: 200%;
    margin: 50px;
    padding: 20px;
    grid-area: lore3;
}
main{
    background-color: rgb(49, 49, 49);
}
#video-eclipse{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.destinyEclipse{
    position:absolute;
    top: 900px;
    left: 500px;
    width: 60%;
    height: 20%;
    
}
#ya-disponible{
    top: 97%;
    font-size: 60px;
    text-align: center;
} 
footer{
    background-color: rgb(20, 25, 30);
}
footer{
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "logofooter logofooter"
    "redes logoredes";
}
.logo_footer{
    grid-area: logofooter;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.redes{
    grid-area: redes;
}
.logoRedes{
    grid-area: logoredes;
    width: 10px;
    width: 10px;
}
#logoDestiny{
    width: 250px;
    height: auto;
    padding: 40px;
    margin: 20px;
}
.redes-sociales{
    font-size: 90px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
#redes{
}
.logoRedes{
    display: flex;
    flex-direction: row;
}
.logo-redes-sociales{
    width: 100px;
    height: auto;
}
#destiny-2{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#juega-gratis{
    position: absolute;
    top:85%;
    left: 70%;
    font-size: 500%;
    background-color: darkgoldenrod;
    padding: 10px;
    border: solid black;
}
#titulo-lore{
    text-align: center;
    font-size: 500%;
    padding-top: 20px;
    text-decoration: underline;
}
.contacto{
    display: block;
    font-size: larger;
    padding-left: 400px;
    text-align: left;
}
.contacto2{
    display: block;
    font-size: larger;
}
.contacto1{
    display: inline;
    font-size: larger;
}
#bungie{
    text-align: center;
    font-size: 500%;
    padding-top: 20px;
    text-decoration: underline;
}